//

@import"partials/variables";
@import"partials/common"; 

div.header{ 
    @include container;
    padding-bottom: 1rem;
    

    li{
        list-style: none; 
        margin: 1rem; 
        display: inline-block;
        

        :hover{
            color: $primaryColor;
        }
    } 

    a{
        text-decoration:none; 
        color: black;
        text-transform: uppercase; 

}
} 

section.jumbotron{
    height: 500px; 
        figure{
            height: 100%;
            width: 100%; 
            min-width: 1200px; 
            background: url("/img/jumbotron.jpg") no-repeat;
            background-size: cover;
        } 
        
}

div.wrapper-comics{
    background-color: $secondaryColor; 
    min-width: 1200px;
    position: relative;
    
    // justify-content: center;
    div.flag{ 
        line-height:50px ;
        text-align: center; 
        width: 150px;
        height: 50px;
        background-color: $primaryColor;
        color: white;
        position: absolute; 
        left:23%; 
        top: 0; 
        transform: translate(-50%, -50%); 
        
        p{
            vertical-align: middle; 
            text-transform: uppercase;
        }
    }
    div.comics-wrapper{ 
        @include container;
        flex-wrap: wrap;
        div.cards{
        margin: 2rem;
        margin-top:4rem ;
        width:200px;
       img{
           height: 100%;
           
       } 
    }
    
    } 

    .btn{
        background-color: $primaryColor;
        text-transform:uppercase; 
        font-weight: bold;
        margin: 1rem; 
        height: 30px; 
        width: 150px; 
        border: transparent;

        a{
            text-decoration: none;
            color: whitesmoke; 

            &:hover{
                color: yellow;
            }


        }
    }
} 
