* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.header {
  width: 75%;
  min-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
div.header li {
  list-style: none;
  margin: 1rem;
  display: inline-block;
}
div.header li :hover {
  color: rgb(2, 130, 249);
}
div.header li :active,
div.header li .active {
  background-color: yellow;
}
div.header a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

section.jumbotron {
  height: 500px;
}
section.jumbotron figure {
  height: 100%;
  width: 100%;
  min-width: 1200px;
  background: url("/img/jumbotron.jpg") no-repeat;
  background-size: cover;
}

div.wrapper-comics {
  background-color: rgb(48, 48, 48);
  min-width: 1200px;
  position: relative;
}
div.wrapper-comics div.flag {
  line-height: 50px;
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: rgb(2, 130, 249);
  color: white;
  position: absolute;
  left: 23%;
  top: 0;
  transform: translate(-50%, -50%);
}
div.wrapper-comics div.flag p {
  vertical-align: middle;
  text-transform: uppercase;
}
div.wrapper-comics div.comics-wrapper {
  padding-bottom: 2rem;
  width: 75%;
  min-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
div.wrapper-comics div.comics-wrapper div.cards {
  margin: 2.5rem;
  width: 200px;
  height: 300px;
  color: white;
}
div.wrapper-comics div.comics-wrapper div.cards img {
  height: 100%;
}
div.wrapper-comics div.comics-wrapper div.cards a {
  text-decoration: none;
  color: white;
}
div.wrapper-comics .btn {
  background-color: rgb(2, 130, 249);
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem;
  height: 30px;
  width: 150px;
  border: transparent;
}
div.wrapper-comics .btn a {
  text-decoration: none;
  color: whitesmoke;
}
div.wrapper-comics .btn a:hover {
  color: yellow;
}